@model Web.Models.Reservations.ReservationsCreateViewModel

@{
    ViewData["Title"] = "Create Reservation";
}

<h1>CREATE NEW</h1>

<h4>NEW RESERVATION</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label">ROOM NUMBER</label>
                <select asp-for="RoomNumber" class="form-control">
                    @for (int i = 0; i < Model.AllAvailableRooms.Length; i++)
                    {
                       <option value=@Model.AllAvailableRooms[i]>#@Model.AllAvailableRooms[i] -> @Model.AllAvailableRoomsTypes[i]</option>
                    }
                </select>
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">USER</label>
                <select asp-for="UserId" class="form-control">
                    @for(int i = 0; i < Model.AllUsersNames.Length; i++ )
                    {
                        <option value=@Model.AllUsersIds[i]>@Model.AllUsersNames[i]</option>
                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientsIds" class="control-label">CLIENTS</label>
                <select asp-for="ClientsIds" class="form-control">
                    @for (int i = Model.AllClientsNames.Length - 1; i >= 0; i--)
                    {
                        <option value=@Model.AllClientsIds[i]>@Model.AllClientsNames[i]</option>
                    }
                </select>
                <span asp-validation-for="ClientsIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAccomodation" class="control-label">ACCOMODATION DATE</label>
                <input asp-for="DateAccomodation" class="form-control" type="date" value=""/>
                <span asp-validation-for="DateAccomodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRelease" class="control-label">RELEASE DATE</label>
                <input asp-for="DateRelease" class="form-control" type="date" value=""/>
                <span asp-validation-for="DateRelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakfastIncluded" class="control-label">BREAKFAST INCLUDED</label>
                <input asp-for="BreakfastIncluded" class="form-control" />
                <span asp-validation-for="BreakfastIncluded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllInclusive" class="control-label">ALL INCLUSIVE</label>
                <input asp-for="AllInclusive" class="form-control" />
                <span asp-validation-for="AllInclusive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CREATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">TO INDEX...</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
