@model Web.Models.Users.UsersEditViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1>EDIT USER</h1>

<h4>GIVEN USER</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Password" class="control-label">NEW PASSWORD</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">USERNAME</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">FIRST NAME</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label">MIDDLE NAME</label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">FAMILY NAME</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalID" class="control-label">ID NUMBER</label>
                <input asp-for="PersonalID" class="form-control" />
                <span asp-validation-for="PersonalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">PHONE NUMBER</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">EMAIL</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAppointment" class="control-label">APPOINTMENT DATE</label>
                <input asp-for="DateAppointment" class="form-control" type="date"/>
                <span asp-validation-for="DateAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label">IS ACTIVE</label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDismissal" class="control-label">DISMISSAL DATE</label>
                <input asp-for="DateDismissal" class="form-control" type="date" />
                <span asp-validation-for="DateDismissal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="SAVE CHANGES" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">TO INDEX...</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
