/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.center{
    left: 50%;
    top: 70%;
    position: absolute;
    margin-left: -25%;
    margin-top: -25%;
    width: 50%;
}

.login_box {
    border-radius: 25px;
    border: 2px solid Highlight;
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 15%
}

.login_bar {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 50px;
    width: 100%;
    background-color: Highlight;
    display: table
}

.login_header {
    text-align: center;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.login_form {
    padding-top: 2%;
    width: 60%;
    margin: auto;
    text-align: center
}

.login_button {
    width: 25%;
    margin-top: 3%
}

.register_button {
    padding-top: 2%;
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    margin-bottom: 5%
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

