@model Web.Models.Home.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div>
    <form style="left: 50%; top: 70%; position: absolute; margin-left: -25%; margin-top: -25%; width:40%" asp-action="Index" class="login_form">
        <div style="border:double; border-width: 3px; border-radius: 20px; background-color: #fff; border-color: #000000">
            <h1>LOGIN</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-left: 20%; margin-right: 20%; margin-top: 5%;">
                <label class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left: 20%; margin-right: 20%; margin-bottom: 5%;">
                <label class="control-label">Password</label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Login" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

